<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary mb-4">
  <a class="navbar-brand" [routerLink]="['/home']">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" [ngClass]="{'active': currentItem === 'users' || currentItem === 'createUser'}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Users</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/users']" [ngClass]="{'active': currentItem === 'users'}">View Users</a>
          <a class="dropdown-item" [routerLink]="['/users/create']" [ngClass]="{'active': currentItem === 'createUser'}">Create User</a>
        </div>
      </li>
    </ul>
  </div>
</nav>