<div *ngIf="user">
  <form>
    <h1>{{user.uid}}</h1>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="name" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="email" placeholder="Enter email">
    </div>
    <button type="submit" class="btn btn-primary mr-2" (click)="modifyUser()">Modify user</button>
    <button type="submit" class="btn btn-danger mr-2" data-toggle="modal" data-target="#modalDeleteUser" (click)="showModalDelete()">Delete
      user</button>
  </form>

  <app-modal *ngIf="deletingUser" [id]="'modalDeleteUser'" [title]="'Delete User'"
    [body]="'Are you sure you want to delete user ' + user.uid + '?'" [buttonConfirmText]="'Delete'"
    (canceled)="cancelDeleteUser()" (confirmed)="confirmDeleteUser()"></app-modal>
</div>