<form>
    <div class="form-group">
        <input type="text" [(ngModel)]="userToSearch" class="form-control" name="search" placeholder="Search user" (ngModelChange)="loadPage(0)">
    </div>
</form>
<h4>{{totalUsers}} users found</h4>

<div class="row">
    <div *ngFor="let user of usersToShow" class="col-12 col-sm-6 col-md-4 col-lg-3" (click)="showUser(user)">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="assets/img/icons/user.svg" width="120" height="120" class="card-img" alt="user">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{user.uid}}</h5>
                        <p class="card-text">{{user.name}}</p>
                        <p class="card-text"><small class="text-muted">{{user.email}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item" *ngIf="enabledPreviousPage">
            <a class="page-link" (click)="loadPage(0)">First</a>
        </li>
        <li class="page-item" *ngIf="enabledPreviousPage">
            <a class="page-link" (click)="loadPage(currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pagesToShow" class="page-item" [ngClass]="{'active': page === currentPage}"
            (click)="loadPage(page)"><a class="page-link">{{page + 1}}</a></li>
        <li class="page-item" *ngIf="enabledNextPage">
            <a class="page-link" (click)="loadPage(currentPage + 1)">Next</a>
        </li>
        <li class="page-item" *ngIf="enabledNextPage">
            <a class="page-link" (click)="loadPage(totalPages - 1)">Last</a>
        </li>
    </ul>
</nav>