<form>
    <h1>Create User</h1>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="password">Repeat password</label>
      <input type="password" class="form-control" name="repeatPassword" [(ngModel)]="repeatPassword" placeholder="Repeat password">
    </div>
    <button type="submit" class="btn btn-primary" (click)="createUser()">Create user</button>
  </form>